html {
    height: 100%;
    width: 100%;
}

body {
    font-family: tahoma, verdana, sans serif;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

canvas {
    margin:0;
    background: black;
    width: 80%;
    height: 90%;
}

#controls {
    margin: 0;
    width: 20%;
    height: 90%;
    float: left;
}

#topBar {
    margin: 0;
    width: 100%;
    height: 10%;
}

h1 {
    margin: 0;
}
