html {
    height: 100%;
    width: 100%;
    background-color: black;
}



body {
    font-family: tahoma, verdana, sans serif;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

canvas {
    margin:0;
    background: black;
    width: 80%;
    height: 90%;
}

#controlBar {
    margin: 0;
    width: 18%;
    height: 90%;
    float: left;
    padding: 1%;   
    border: 0px;
    border-top: 5px;
    border-style: solid;
    border-top-color: #43608e;
    background-color: #617ead;
}

#topBar {
    margin: 0;
    width: 100%;
    height: 8%;
    padding: 1%;
    float: right;
    background-color: #578adb;    
}

#header{
    margin: 0;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

#controls{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 5%;  
}

h3 {
    color: white;
    text-align: center;
}